header {
  background: #023031;
  box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 96px;
  margin: -8px;
  margin-bottom: 120px;
  top: 4px;
  width: 1610px;
}

img {
  align-self: center;
  display: flex;
  height: 90px;
  margin-top: -10px;
  max-width: 100%;
  padding-left: 40px;
}

.user {
  background: white;
  border-radius: 50px;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  font-family: sans-serif;
  justify-content: center;
  left: 1270px;
  position: absolute;
  top: 7px;
  width: 150px;
}


.nav {
  align-items: center;
  background-color: #f0f2f5;
  border: solid #f0f2f5 3px;
  display: flex;
  height: 90px;
  justify-content: space-around;
  position: absolute;
  top: 100px;
  width: 1600px;
}

.links {
  align-items: center;
  color: #036b52;
  display: flex;
  font-family: sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  height: 80px;
  justify-content: center;
  line-height: 29px;
  text-decoration: none;
  width: 510px;
}

.selected {
  background-color: #036b52;
  color: #f0f2f5;
}
