.img-notfound {
  height: 158px;
  left: 604px;
  position: absolute;
  top: 160px;
  width: 208px;
}

.p-notfound {
  color: #023031;
  font-family: sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  height: 371px;
  left: 333px;
  line-height: 65px;
  position: absolute;
  text-align: center;
  top: 290px;
  width: 881px;
}
